# Created by https://www.gitignore.io/api/osx
### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/osx
__pycache__
experiments/*
db*
scikit-optimize
benchmarks/*/data/*.tar.gz
benchmarks/*/data/*.npz
xgboost/
rosen2_tests
benchmarks/*/keras-gcn
keras-gcn-master
scripts/runs/
scripts/runjob.conf
scripts/runjob.conf.cooley

#
graph/
DATA/
*.egg-info*
*.error
*.output
*.cobaltlog
bin/
*.log
*.dot
Data/

# Sphinx documentation
_build/
