[build-system]
# Minimum requirements for the build system to execute.
requires = [
    "packaging==20.5; platform_machine=='arm64'",  # macos M1
    "setuptools>=40,<49.2.0", 
    "wheel==0.36.2",
    "Cython>=0.29.24,<3.0",  # Note: keep in sync with tools/cythonize.py
    ]

[tool.black]
line-length = 88
