from deephyper.problem import NaProblem
from {{ pckg }}.{{ pb_folder }}.load_data import load_data
from {{ pckg }}.{{ pb_folder }}.search_space import DenseSkipCoSpace
from deephyper.nas.preprocessing import minmaxstdscaler


problem = NaProblem()

problem.load_data(load_data)

problem.preprocessing(minmaxstdscaler)

problem.search_space(DenseSkipCoSpace)

problem.hyperparameters(
    batch_size=32,
    learning_rate=0.01,
    optimizer='adam',
    num_epochs=20,
    callbacks=dict(
        EarlyStopping=dict(
            monitor='val_r2', # or 'val_acc' ?
            mode='max',
            verbose=0,
            patience=5
        )
    )
)

problem.loss('mse') # or 'categorical_crossentropy' ?

problem.metrics(['r2']) # or 'acc' ?

problem.objective('val_r2__last') # or 'val_acc__last' ?


# Just to print your problem, to test its definition and imports in the current python environment.
if __name__ == '__main__':
    print(problem)
