#!/bin/bash -x
#COBALT -A {{ project }}
#COBALT -n {{ nodes }}
#COBALT -q {{ queue }}
#COBALT -t {{ time_str }}
{% if 'theta' == platform %}
#COBALT --attrs ssds=required:ssd_size=128
{% endif %}

NUM_WORKERS={{ num_workers }}


DEEPHYPER_TOP={{ DEEPHYPER_TOP }}
BALSAM_PATH={{ BALSAM_PATH }}
WALLMINUTES={{ time_minutes - 10 }}

source ~/.bash_profile
{% if 'cooley' == platform %}
source /soft/libraries/anaconda/bin/activate {{ DEEPHYPER_ENV_NAME }}
{% else %}
source activate {{ DEEPHYPER_ENV_NAME }}
{% endif %}

{% if 'theta' == platform %}
module unload trackdeps
module unload darshan
module unload xalt
export MPICH_GNI_FORK_MODE=FULLCOPY
export PMI_NO_FORK=1
{% endif %}

balsam init {{ db_path }}
# export BALSAM_DB_PATH={{ db_path }}
source balsamactivate {{ db_path }}
wait
sleep 5

balsam rm apps --all --force
balsam rm jobs --all --force


{% if method|upper == 'NAS' %}

SEARCH_APP_PATH=$DEEPHYPER_TOP/search/run_nas.py
{% if sync %}
ARGS="--benchmark {{ benchmark }} --run_module_name={{ run_module_name }} --num-workers $NUM_WORKERS --sync"
{% else %}
ARGS="--benchmark {{ benchmark }} --run_module_name={{ run_module_name }} --num-workers $NUM_WORKERS"
{% endif %}
balsam app --name search --description 'run NAS on : {{ benchmark }}' --executable $SEARCH_APP_PATH

{% endif %}


balsam job --name {{ jobname }} --workflow {{ jobname }} --application search --wall-minutes $WALLMINUTES  --num-nodes 1 --ranks-per-node 1 --args "$ARGS" --yes {% if platform == 'theta' %} --threads-per-rank 64 --threads-per-core 1 {% endif %}


{% if 'theta' == platform  %}

balsam launcher --c --serial-jobs=1 --job-mode seriali --time-limit-minutes={{ time_minutes - 5 }}

{% elif 'cooley' == platform %}

balsam launcher --c --serial-jobs-per-node=2  --gpus-per-node=2 --job-mode serial --time-limit-minutes={{ time_minutes - 5 }}

{% endif %}

source balsamdeactivate
