from deephyper.problem import HpProblem

problem = HpProblem()

problem.add_hyperparameter((1, 100), "units")
problem.add_hyperparameter(["identity", "relu", "sigmoid", "tanh"], "activation")
problem.add_hyperparameter((0.0001, 1.0), "lr")

problem.add_starting_point(units=10, activation="identity", lr=0.01)

if __name__ == "__main__":
    print(problem)
